# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.a
*.o
__debug_bin*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Visual Studio Code
.vscode/
*.code-workspace